<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1 th:text="#{page.updateItem(${item.itemName})}">상품 수정</h1></div>
<form method="post" th:action="@{/basic/edit/{id}(id=${item.id})}">
    <div>
        <label for="id" th:text="#{label.item.id}">상품 ID</label>
        <input type="text" id="id" name="id" th:value="${item.id}" readonly></input>
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
        <input type="text" id="itemName" name="itemName" th:value="${item.itemName}"></input>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}">금액</label>
        <input type="text" id="price" name="price" th:value="${item.price}"></input>
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}">수량</label>
        <input type="text" id="quantity" name="quantity" th:value="${item.quantity}"></input>
    </div>
    <div>
        <button type="submit" th:text="#{button.save}">등록</button>
        <button type="button" th:onclick="|location.href='@{/basic/items}'|" th:text="#{button.cancel}">취소</button>
    </div>
</form>
</body>
</html>